<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'students')}">
<head>
    <meta charset="UTF-8">
    <title>List of Students</title>
</head>
<body>
<h2 th:text="'Students'">Students.</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${students}" th:onclick="'javascript:rowClicked(\'' + ${student.id} + '\');'" style="cursor: pointer;">
            <td th:text="${student.id}">1</td>
            <td th:text="${student.firstName}">Default</td>
            <td th:text="${student.lastName}">Value</td>
        </tr>
    </tbody>
</table>

<script>
    function rowClicked(id)
    {
        location.href = "/students/" + id;
    }
</script>
</body>
</html>